@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    123 Sweet Treats Street<br />
    Sunnyvale, CA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    555.555.1234
</address>

<address>
    <strong>email:</strong> <a href="mailto:Support@example.com">GummiBearKingdom@example.com</a><br />
</address>
